{% extends 'layout/layout.twig' %}

{% block pagecontent %}
    <div class="row">
        <div class="column">
            <h1>modules</h1>
            <a href="?t=index">index</a>
        </div>
    </div>
{% endblock %}
