
@include breakpoint(small) {
    $space: 12px;
    .mm-pad-single {
        padding-top: $space;
        padding-bottom: $space;
    }

    .mm-pad-double {
        padding-top: $space * 2;
        padding-bottom: $space * 2;
    }
    .mm-pad-triple {
        padding-top: $space * 3;
        padding-bottom: $space * 3;
    }

    .mm-mgr-single {
        margin-bottom: $space;
    }

    .mm-mgr-double {
        margin-bottom: $space * 2;
    }

    .mm-mgr-triple {
        margin-bottom: $space * 3;
    }
}

@include breakpoint(medium) {
    $space: 20px;
    .mm-pad-single {
        padding-top: $space;
        padding-bottom: $space;
    }

    .mm-pad-double {
        padding-top: $space * 2;
        padding-bottom: $space * 2;
    }
    .mm-pad-triple {
        padding-top: $space * 3;
        padding-bottom: $space * 3;
    }

    .mm-mgr-single {
        margin-bottom: $space;
    }

    .mm-mgr-double {
        margin-bottom: $space * 2;
    }

    .mm-mgr-triple {
        margin-bottom: $space * 3;
    }
}
